# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc
*.pdb
*.egg
*.egg-info/
dist/
build/
.eggs/
*.manifest
*.spec
*.log
*.sqlite3
*.db
*.ipynb_checkpoints

# VS Code
.vscode/

# Environment
.env
.venv/
venv/
ENV/
env/

# Jupyter Notebook
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db

# Test and coverage
htmlcov/
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.py,cover

# Others
*.bak
*.swp
*.swo

# Azure
*.azure/
